Options +FollowSymLinks

RewriteEngine On

RewriteRule ^([a-zA-Z0-9]/)*([a-zA-Z0-9\-]+)(/site-([a-zA-Z0-9]+))?/?$ index.php?page=$2&site=$4
RewriteRule ^([a-zA-Z0-9]/)*([a-zA-Z0-9\-]+)/([a-zA-Z0-9]+)/([a-zA-Z0-9]+)(/site-([a-zA-Z0-9]+))?/?$ index.php?page=$2&$3=$4&site=$5
RewriteRule ^([a-zA-Z0-9]/)*([a-zA-Z0-9\-]+)/([a-zA-Z0-9]+)/([a-zA-Z0-9]+)/([a-zA-Z0-9]+)/([a-zA-Z0-9]+)(/site-([a-zA-Z0-9]+))?/?$ index.php?page=$2&$3=$4&$5=$6&site=$7
RewriteRule ^([a-zA-Z0-9]/)*([a-zA-Z0-9\-]+)/([a-zA-Z0-9]+)/([a-zA-Z0-9]+)/([a-zA-Z0-9]+)/([a-zA-Z0-9]+)/([a-zA-Z0-9]+)/([a-zA-Z0-9]+)(/site-([a-zA-Z0-9]+))?/?$ index.php?page=$2&$3=$4&$5=$6&$7=$8&site=$9
